<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active p-0">
      <div class="carousel-background carousel-background-first p-0">
        <div class="card-on-carousel">
          <h2 class="gupter-bold px-0">Learning that gets you</h2>
          <p>Skills for your present (and your future). Get started with us.</p>
        </div>
      </div>
    </div>

    <div class="carousel-item active p-0">
      <div class="carousel-background carousel-background-second p-0">
        <div class="card-on-carousel">
          <h2 class="gupter-bold px-0">Skills that drive you forward</h2>
          <p>Unlock the skills you need to not only achieve your goals but to thrive in a competitive landscape. Transform your future with us and become a leader in your field!</p>
          <button class="btn btn-primary">Get Your Own Learning Plans</button>
        </div>
      </div>
    </div>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
