<div class="container" data-controller="redirect-to-payment" data-redirect-to-payment-stripe-key-value="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>" data-redirect-to-payment-checkout-session-id-value="<%= @order.checkout_session_id %>">
</div>
