.banner {
  width: 100%;
  height: 400px;
  background-color: rgb(52, 51, 51);
  margin: 0 auto;
  color: white;
}

.banner p {
  margin: 20px auto;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
