.carousel-container {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-on-carousel {
  max-width: 30rem;
  position: absolute;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .08);
  padding: 2.4rem;
  background-color: white;
  color: #4e4e4e;
  width: 36rem;
  text-align: left;
  left: 25rem;
  top: 4rem;
}

.carousel-background {
  width: 100%;
  height: 450px;
  // background-image: url('https://img-c.udemycdn.com/notices/web_carousel_slide/image/e6cc1a30-2dec-4dc5-b0f2-c5b656909d5b.jpg');
  // background-repeat:round;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-background-first {
  background-image: url('https://img-c.udemycdn.com/notices/web_carousel_slide/image/e6cc1a30-2dec-4dc5-b0f2-c5b656909d5b.jpg');
}

.carousel-background-second {
  background-image: url('https://img-c.udemycdn.com/notices/web_carousel_slide/image/10ca89f6-811b-400e-983b-32c5cd76725a.jpg');
}

@media (max-width: 1920px) {
  .card-on-carousel {
    left: 12rem;
    top:6rem;
  }
}

@media (max-width: 1200px) {
  .card-on-carousel {
    left: 10rem;
    top:4rem;
    width: 25rem;
  }
}

@media (max-width: 991px) {
  .card-on-carousel {
    left: 10rem;
    top:4rem;
  }
}

@media (max-width: 768px) {
  .card-on-carousel {
    left: 8rem;
    top:4rem;
    width: 25rem;
  }
}

@media (max-width: 576px) {
  .card-on-carousel {
    left: 13%;
    // top:23.88037rem;
    width: 16rem;
    padding: 2rem;
  }

  .card-on-carousel h2 {
    font-size: 1.2rem;
  }

  .card-on-carousel p {
    font-size: xx-small;
  }

  .carousel-background {
    height: 350px;
  }
}
