.box_container {
  width: 80%;
  height: 100%;
  margin: 0 80px;
  padding: 0px 0px;
  color: white;
  position: relative;

  #coursetime {
    color: black
  }
}
.box_container h1 {
  display: flex;
  justify-content: flex-start;
}

@media (max-width:991px) {
  .box_container {
    width: 80%;
    margin: 0 auto;

  }
}

.calendarlink {
  color: black;
  opacity: 0.4;
}

.calendarlink:hover {
  opacity: 1;
}
