.message-box {
  #message_content {
    height: 70px;
  }
  .btn {
    width: 200px;
    height: 70px;
    margin-top: 4px;
    margin-left: 10px;
  }
}

.chatroom {
  .messages {
    text-align: start;
  }
}
