.login-form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.edit-form-with {
  max-width: 700px;
}

.custom-form-width {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}


.large-text-field {
  height: 120px;
  resize: vertical;
}

.login-heading {
  margin: 20px 0 20px 0;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.form-check-input {
  margin-right: 5px;
}

.btn-primary {
  background-color: #1e293b !important;
  border-color: #1e293b !important;
  padding: 10px;
  font-size: 16px;
  width: 100%;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.form-actions {
  margin-top: 20px;
}

.container {
  margin-top: 20px;
  text-align: center;
}

.container a {
  display: block;
  margin: 10px 0;
  color: #1e293b;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.container a:hover {
  color: #111827
}

.container button {
  background-color: #1e293b;
  border: none;
  color: #fff;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s ease;
}

.container button:hover {
  background-color: #0056b3;
}

.container br {
  margin-bottom: 10px;
}

.mapbox-overwrite {
  width: 100% !important;
  max-width: 800px!important;
}

.mapbox-overwrite-button {
  top: -12px !important;
  background-color: transparent !important;
}
