.image-course-index {
  height: 450px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 0;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  text-align: center;
  width: auto;
  max-width: 90%;
  white-space: nowrap;
  box-sizing: border-box;
}

.image-foreach-course {
  border-radius: 8px;
  width: 400px;
  height: auto;
  object-fit: cover;
}

.course-description-index-course {
  align-items: self-end;
  text-align: left;
  margin-bottom: 10px;
}

.course-description {
  display: flex;
  justify-content: left;

}

.more-details-button:hover {
  color: rgb(93, 92, 92) !important;
}

.type-of-course {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 10px;
}

.hover-black {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  // margin-bottom: 10px;
  margin: 0px 0 !important
}

@media (max-width: 1200px) {
  .image-overlay {
    font-size: 20px;
    padding: 8px 16px;
  }
}

@media (max-width: 974px) {
  .image-overlay {
    padding: 6px 12px;
  }

  .image-course-index {
    height: 400px;
  }

  .course-description {
    font-size: 15px;
  }
  .type-of-course {
    font-size: small;
  }
  .hover-black {
    font-size: small;
  }
}

@media (max-width: 800px) {
  .image-overlay {
    font-size: 20px;
    padding: 6px 12px;
  }

  .image-course-index {
    height: 350px;
  }
}

@media (max-width: 768px) {
  .course-image {
    margin-top: 10px;
  }
  .course-card {
    flex-direction: column;
    padding: 10px;
    margin-bottom: 0 !important;
  }

  .course-image {
    width: 100%;
    margin-bottom: 10px;
  }

  .image-foreach-course {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .form-control {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
    margin-top: 10px;
  }

  .image-overlay {
    font-size: 20px;
    padding: 4px 8px;
    margin: 0px 0px !important;
  }

  .course-description-index-course {
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .course-description-index-course .w-50 {
    width: 100%;
  }

  .image-course-index {
    height: 350px;
  }

  .type-of-course {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .hover-black {
    margin: 0px 0 !important;
    font-size: 15px;
  }

  .type-of-course {
    font-size: 15px;
  }
}

@media (max-height: 600px) {
  .image-overlay {
    font-size: 20px;
    padding: 4px 8px;
  }
}

@media (max-width: 576px) {
  .course-card {
    padding: 8px;
    display: flex;
    flex-direction: column !important;
  }

  .course-description-index-course {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .course-description-index-course .w-50 {
    width: 100%;
  }

  .image-foreach-course {
    border-radius: 4px;
  }

  .form-control {
    font-size: 14px;
  }

  .btn-primary {
    font-size: 14px;
  }

  .image-overlay {
    font-size: 20px;
    padding: 4px 8px;
    // top: 35%;
  }

  .image-course-index {
    height: 250px;
  }

  .type-of-course {
    text-align: center !important;
  }
}
