.image-course-index {
  height: 450px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  text-align: center;
  width: auto;
  max-width: 90%;
  white-space: nowrap;
  box-sizing: border-box;
}

.image-foreach-course {
  border-radius: 8px;
  width: 400px;
  height: auto;
  object-fit: cover;
}

.more-details-button:hover {
  color: rgb(93, 92, 92) !important;
}

.type-of-course {
  margin-bottom: 10px;
}

@media (max-width: 1200px) {
  .image-overlay {
    font-size: 20px;
    padding: 8px 16px;
  }
}

@media (max-width: 992px) {
  .image-overlay {
    font-size: 20px;
    padding: 6px 12px;
  }
}

@media (max-height: 800px) {
  .image-overlay {
    font-size: 20px;
    padding: 6px 12px;
  }
}

@media (max-width: 768px) {
  .course-card {
    flex-direction: column;
    padding: 10px;
  }

  .course-image {
    width: 100%;
    margin-bottom: 10px;
  }

  .image-foreach-course {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .d-flex {
    flex-direction: column;
  }

  .form-control {
    width: 100%;
  }

  .btn-primary {
    width: 100%;
    margin-top: 10px;
  }

  .image-overlay {
    font-size: 20px;
    padding: 4px 8px;
  }

  .course-description-index-course {
    margin-top: 5px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .course-description-index-course .w-50 {
    width: 100%;
  }
}

@media (max-height: 600px) {
  .image-overlay {
    font-size: 20px;
    padding: 4px 8px;
  }
}

@media (max-width: 576px) {
  .course-card {
    padding: 8px;
  }

  .course-description-index-course {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .course-description-index-course .w-50 {
    width: 100%;
  }

  .image-foreach-course {
    border-radius: 4px;
  }

  .d-flex {
    flex-direction: column;
  }

  .form-control {
    font-size: 14px;
  }

  .btn-primary {
    font-size: 14px;
  }

  .image-overlay {
    font-size: 20px;
    padding: 4px 8px;
  }
}
