.navbar-nav {
  display: flex;
  align-items: center; 
}


.navbar-lewagon {
  justify-content: space-between;
  background: #1e293b;
  // background: #CCEECE;
  height: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-nav .nav-item {
  white-space: nowrap;
  margin-right: 15px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
}

.navbar-nav .nav-link {
  color: #d4d4d4;
}

.navbar-nav .nav-link:hover {
  color: #f4f4f5;
}

.dropdown-item {
  display: flex;
  align-self: center;
  height: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-font {
  color: #d4d4d4;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.navbar-brand {
  margin-left: 50px;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.courses {
  margin-right: 10px;
  text-decoration: none;
  font-size: 13px;
  color: #d4d4d4;
  // color: #374151;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.become-teacher {
  margin-right: 10px;
  text-decoration: none;
  font-size: 13px;
  color: #d4d4d4;
  // color: #374151;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.logout {
  color: #d4d4d4;
  font-size: 13px;
  // color: #374151;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.name-card {
  background-color: #FFFDD0;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px 0 15px;
  color: black;
  text-align: center;
  line-height: 1.2;
}

.navbarDropdown {
 text-decoration: none;
}


.courses:hover {
  color: #f4f4f5;
  // color: #020617;
  background-color: transparent;
}

.become-teacher:hover {
  color: #f4f4f5;
  // color: #020617;
  background-color: transparent;
}

.logout:hover {
  color: #f4f4f5;
  // color: #020617;
  background-color: transparent;
}

@media (max-width: 575px) {
  .navbar-lewagon {
    height: auto;
  }
  .navbar-lewagon .navbar-brand img {
    width: 48px;
  }

  .avatar {
    display: none;
  }
}
