.see-all-the-classes-for-this-course a{
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  justify-content: space-between;
}

.see-all-the-classes-for-this-course i {
  color: #444444;
}
