.what_you_will_learn {
  width: 100%;
  border: 1px solid rgb(223, 221, 221);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  color: black;
  margin-top: 16px;
}
h4 {
  padding: 32px 32px;
}
.archivo-black-thin {
  font-family: "Archivo Black", sans-serif;
  font-weight: 200;
  font-style: normal;
}

ul {
  margin-left: 1rem;
}

li {
  margin-bottom: 1rem;
}
