<!-- app/views/reviews/new.html.erb -->
<h1>New Review</h1>

<%= render 'form', review: @review %>

<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

    <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= link_to 'Back', course_reviews_path(@course) %>
